snippet fun
	/*
	 * ${6}
	 *
	 * @param ${3:string} $${2:param} ${4:description}
	 *
	 * @return ${5:`Filename()`}
	 */
	public function ${1}( $3 $$2) : $5
	{
		${7};
	}

snippet cl
	<?php

	namespace ${1};

	/**
	 * ${5}
	 *
	 */
	 class ${2}
	 {

		public function __construct(${3})
		{
			${4}
		}

	}

snippet $
	$this->${1}
